<div class="editor">
    <!-- <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
    </ngx-editor-menu>
    <ngx-editor [editor]="editor" [(ngModel)]="thread.message" placeholder="Message on #{{ channel.name }}...">
        <textarea type="text" placeholder="Message on #{{ channel.name }}..." [(ngModel)]="thread.message"></textarea>
    </ngx-editor> -->
    <angular-editor id="texteditor" [config]="editorConfig" [placeholder]="'Message on #{{ channel.name }}...'" [(ngModel)]="thread.message"></angular-editor>

    <button (click)="saveThread()">Save</button>
</div>