.edit-container {
    position: relative;
}

::ng-deep .cdk-overlay-pane {
    width: 30vw;
}

.mat-dialog-content {
    display: flex;
    flex-direction: column;
}

textarea.mat-input-element {
    height: 120px;
}

::ng-deep .mat-focused .mat-form-field-label {
    color: #6F2F40 !important;
}

::ng-deep.mat-form-field-ripple {
    background-color: #6F2F40 !important;
}

.progress-spinner {
    position: absolute;
    top: 100px;
    left: 125px;
    z-index: 1;

    ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
        stroke: #6F2F40;
    }
}