.edit-card {
    display: flex;
    flex-direction: column;
    position: relative;

    .close-btn {
        position: absolute;
        top: -22px;
        right: -22px;
        cursor: pointer;
        color: #6F2F40;
    }
}

.user-img {
    height: 200px;
    border-radius: 10px;
}

.user-info, .contact-info {
    display: flex;
    flex-direction: column;
    margin-top: 16px;

    h2 {
        margin-bottom: 4px;
    }
}

.edit-profil {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

mat-icon {
    font-size: 28px;
    height: 28px;
    width: 28px;
    margin-right: 4px;

    &:hover {
        cursor: pointer;
    }
}

.edit-user-info {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.edit-img-box {
    position: relative;
    display: flex;
    flex-direction: column;
}

.form-name {
    input {
        margin-top: 12px;
    }
}