.edit-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-width: 300px;

    .close-btn {
        position: absolute;
        top: -22px;
        right: -22px;
        cursor: pointer;
        color: #6F2F40;
    }
}

.user-img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.user-info {
    display: flex;
    flex-direction: column;
    margin-top: 16px;

    h2 {
        margin-bottom: 4px;
    }
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.edit-profil {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-icon {
    font-size: 28px;
    height: 28px;
    width: 28px;
    margin-right: 4px;

    &:hover {
        cursor: pointer;
    }
}

.edit-user-info {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.edit-img-box {
    position: relative;
    display: flex;
    flex-direction: column;
}

.form-name {
    input {
        margin-top: 12px;
    }
}

.progress-spinner {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffffcc;
    z-index: 1;

    ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
        stroke: #6F2F40;
    }
}

.input-box {
    display: flex;
    align-items: center;
}

.input-margin {
    margin-left: 0;
    cursor: pointer;
}

.done-file-btn {
    margin-bottom: -6px;

    &:hover {
        cursor: pointer;
    }
}

.upload-btn {
    cursor: auto;
}

.x-btn {
    margin-bottom: -2px;
    margin-left: 8px;
    font-size: 28px;
    cursor: pointer;
}