<div *ngIf="noThreads" class="no-threads-box">
    <p>This Channel is empty... Send the first Thread!</p>
</div>

<div *ngIf="!noThreads">
    <mat-card *ngFor="let thread of allThreads" class="thread-container">
        <button mat-icon-button class="thread-menu" mat-icon [matMenuTriggerFor]="deleteThreadBtn">
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #deleteThreadBtn="matMenu">
            <button mat-menu-item (click)="deleteThread(thread.id, thread.currentUser)">
                <mat-icon class="delete-icon">delete</mat-icon> Delete
            </button>
        </mat-menu>

        <div class="d-flex width-100">
            <div class="user-img">
                <img src="{{ thread.userImg }}" alt="">
            </div>
            <div>
                <div class="user-data">
                    <p> {{ thread.currentUser }} </p>
                    <p> {{ thread.sendDateTime | date: "dd.MM.yyyy"}} at {{ thread.sendDateTime | date: "HH:mm"}} </p>
                </div>
                <p>{{ thread.message }}</p>
                <a href="{{ thread.uploadFile }}" target="_blank">
                    <img class="uploadImg" src="{{ thread.uploadFile }}">
                </a>
            </div>
            <!-- <p>Thread ID: {{ thread.id }}</p>
        <p>Channel ID: {{ thread.channelID }}</p> -->

            <button *ngIf="thread.commentLengthText" class="thread-btn" mat-raised-button
                (click)="openDetails(thread.id)">
                {{ thread.commentLength }} Comment(s)
            </button>

            <button *ngIf="!thread.commentLengthText" class="thread-btn" mat-raised-button
                (click)="openDetails(thread.id)">
                Thread
            </button>
        </div>
    </mat-card>
</div>