<div *ngIf="noThreads" class="no-threads-box">
    <p>This Channel is empty... Send the first Thread!</p>
</div>

<div *ngIf="!noThreads">
    <mat-card *ngFor="let thread of allThreads" class="thread-container">
        <p>User</p>
        <p> {{ thread.sendDateTime | date: "dd.MM.yyyy"}} at {{ thread.sendDateTime | date: "HH:mm"}} </p>
        <p>{{ thread.message }}</p>
        <p>Thread ID: {{ thread.id }}</p>
        <p>Channel ID: {{ thread.channelID }}</p>
        
        <button *ngIf="!countBtn" class="thread-btn" mat-raised-button (click)="openDetails(thread.id)">Thread</button>
        <button *ngIf="countBtn" class="thread-btn" mat-raised-button (click)="openDetails(thread.id)"> {{ commentsLength }} Comments </button>
    </mat-card>
</div>