<div *ngIf="noThreads" class="no-threads-box">
    <p>This Channel is empty... Send the first Thread!</p>
</div>

<div *ngIf="!noThreads">
    <mat-card *ngFor="let thread of allThreads" class="thread-container">
        <p>User</p>
        <p> At {{ thread.sendDateTime | date: "HH:mm:ss"}} on {{ thread.sendDateTime | date: "dd/MM/yyyy"}} </p>
        <p>{{ thread.message }}</p>
        <p>Thread ID: {{ thread.id }}</p>
        <p>Channel ID: {{ thread.channelID }}</p>
        <button (click)="openDetails = !openDetails">Thread</button>
    </mat-card>
</div>

<mat-card *ngIf="openDetails">
    <app-thread-details></app-thread-details>
</mat-card>