<div *ngIf="noMessages" class="no-threads-box">
    <p>No Messages...</p>
</div>

<div *ngIf="!noMessages">
    <mat-card *ngFor="let message of allMessages" class="thread-container">
            <!-- <button mat-menu-item>
                <mat-icon class="delete-icon">delete</mat-icon> Delete
            </button> -->

        <div class="d-flex width-100">
            <div class="user-img">
                <img src="{{ message.userImg }}" alt="">
            </div>
            <div>
                <div class="user-data">
                    <p> {{ message.user }} </p>
                    <p> {{ message. messageDateTime | date: "dd.MM.yyyy"}} at {{ message.messageDateTime | date: "HH:mm"}} </p>
                </div>
                <p>{{ message.messageText }}</p>
                <a *ngIf=" message.uploadFileM !== '' " href="{{ message.uploadFileM }}" target="_blank">
                    <img class="uploadImg" src="{{ message.uploadFileM }}">
                </a>
            </div>
        </div>
    </mat-card>
</div>