<div class="editor-box">
    <angular-editor id="texteditor" [config]="editorConfig" placeholder="Answer on Thread from User..."
        [(ngModel)]="thread.commentMessage" (keypress)="onKeypressEvent($event)">
    </angular-editor>

    <div class="btn-box">
        <div class="d-flex hide" [class.visible]="hideFile">
            <input [(ngModel)]="thread.uploadFile" accept="image/*" class="input-margin" id="inputFile" multiple
                type="file" (change)="onFilechange($event)" />
            <mat-icon (click)="cleanInputFile()">close</mat-icon>
        </div>
        <label for="inputFile" class="md-button md-raised md-primary">
            <mat-icon class="upload-btn">upload_file</mat-icon>
        </label>

        <button mat-fab (click)="sendComment()" class="example-button-container">
            <mat-icon>send</mat-icon>
        </button>
    </div>
</div>