#texteditor .angular-editor-textarea {
    width: 461px;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    resize: none !important;
    height: 50px !important;
    overflow-y: auto;
    padding-bottom: 60px !important;
    position: relative;

    @media (max-width: 1500px) {
        width: 380px !important;
    }

    @media (max-width: 420px) {
        width: 300px !important;
    }

    @media (max-width: 350px) {
        width: 264px !important;
    }

    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }

    &::placeholder {
        font-style: italic;
    }

    img {
        height: 150px;
        object-fit: cover;
    }
}

.angular-editor-button {
    color: rgba($color: #000000, $alpha: 0.5);

    &:hover {
        color: #000000;
    }
}

.angular-editor-toolbar {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: -5px;
    border-bottom: none !important;
    width: 480px;

    @media (max-width: 1500px) {
        width: 380px !important;
    }

    @media (max-width: 420px) {
        width: 320px !important;
    }

    @media (max-width: 350px) {
        width: 284px !important;
    }
}

#strikeThrough-texteditor,
#link-texteditor,
#unlink-texteditor,
#clearFormatting-texteditor,
#subscript-texteditor,
#superscript-texteditor,
#backgroundColorPicker-texteditor,
#customClassSelector-texteditor,
.select-heading,
#texteditor .angular-editor-button[title="Insert Video"],
#texteditor .angular-editor-button[title="Insert Image"],
.angular-editor-button[title="Undo"],
.angular-editor-button[title="Redo"],
.angular-editor-button[title="Justify Center"],
.angular-editor-button[title="Horizontal Line"] {
    display: none !important;
}

.editor-box {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 14px;
    right: 34px;
    overflow-y: hidden;

    @media (max-width: 1000px) {
        right: inherit;
        margin-left: 36px;
    }

    @media (max-width: 550px) {
        display: none;
    }
}

angular-editor {
    img {
        display: none;
    }
}

.example-button-container {
    background-color: #6F2F40 !important;
    width: 28px;
    height: 28px;
    margin-left: 4px;
    margin-right: 4px;

    mat-icon {
        margin-top: -24px;
        font-size: 18px;
        color: white;
    }
}

.mat-snack-bar-container {
    min-width: 180px !important;
    color: white;
    background-color: #6F2F40 !important;
}

::ng-deep .angular-editor .angular-editor-wrapper .angular-editor-textarea {
    width: 461px !important;

    @media (max-width: 1500px) {
        width: 360px !important;
    }

    @media (max-width: 420px) {
        width: 300px !important;
    }

    @media (max-width: 350px) {
        width: 264px !important;
    }
}

.upload-btn {
    color: #6F2F40 !important;
    font-size: 32px;
    width: 32px;
    height: 32px;
    padding: 4px;
    background: white;
    border-radius: 100%;

    &:hover {
        cursor: pointer;
    }
}

.btn-box {
    display: flex;

    mat-icon {
        &:hover {
            cursor: pointer;
        }
    }
}

.send-btn {
    position: absolute;
    bottom: 10px;
    right: 8px;
}

.upload-icon {
    position: absolute;
    bottom: 0;
    left: 8px;
    z-index: 1;
}

input[type=file]::-webkit-file-upload-button {
    display: none;
}

input[type=file] {
    width: 130px;
}

.upload-name {
    display: flex;
    position: absolute;
    bottom: 8px;
    left: 48px;
    z-index: 1;
}

.drag-active {
    background: rgba($color: #000000, $alpha: 0.02) !important;
}