<div class="channel-container">
    <div class="left-container">
        <mat-card class="card-style chat-header">
            <div class="name-header">
                <h1 *ngIf="chat.firstUser == authService.userName">Chat with {{ chat.secondUser }}</h1> 
                <h1 *ngIf="chat.secondUser == authService.userName">Chat with {{ chat.firstUser }}</h1> 
            </div>

            <div>
                <button mat-button (click)="cleanChat(chat.id)"> <mat-icon>delete</mat-icon> Clean Chat</button>
            </div>
        </mat-card>

        <mat-card class="card-style thread-container">
            <app-user-message></app-user-message>
        </mat-card>
    </div>

    <div class="position-fixed">
        <div class="card-style add-thread-box">
            <app-add-chat-message></app-add-chat-message>
        </div>
    </div>
</div>