.channel-container {
    position: relative;
    display: flex;
}

.left-container {
    width: 100vw;
}

.right-container {
    min-width: 37vw;
    max-width: 37vw;
    height: calc(100vh - 68px);
    background-color: white;
    border-left: 1px solid #ede5e5;
}

.card-style {
    margin: 6px;
    padding: 4px !important;

    .name-header {
        display: flex;
        align-items: center;
        margin-left: 16px;
        padding: 6px;
        width: fit-content;

        &:hover {
            background-color: rgba($color: #000000, $alpha: 0.04);
            border-radius: 10px;
            cursor: pointer;
        }

        h1 {
            font-weight: 600;
            margin-bottom: 0;

            @media (max-width: 450px) {
                font-size: 18px;
                margin-left: -18px;
            }
        }

        mat-icon {
            margin-left: 8px;
        }
    }
}

.position-fixed {
    position: fixed;
    bottom: 0;
    left: 0px;
    display: flex;
    justify-content: center;
}

.add-thread-box {
    margin-left: 30vw;

    @media (max-width: 1500px) {
        margin-left: 30vw;
    }

    @media (max-width: 800px) {
        margin-left: 20vw;
    }

    @media (max-width: 500px) {
        justify-content: unset;
        margin-left: 4px;
    }
}

.thread-container {
    height: calc(100vh - 320px);
    overflow-y: auto;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: #6F2F40;
}

.chat-header {
    display: flex;
    justify-content: space-between;
}