<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button class="example-icon">
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <span>Slack-Clone</span>
        <span class="example-spacer"></span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="example-container" autosize>
    <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true">
        <mat-nav-list>
            <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
                <span class="full-width">Channels</span>
                <mat-icon mat-list-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}">
                    expand_more</mat-icon>
                    <mat-icon *ngIf="isExpanded || isShowing" class="addChannel-btn">add_circle</mat-icon>
            </mat-list-item>
            <div class="submenu" [ngClass]="{'expanded' : showSubmenu}">
                <a mat-list-item href="...">Channel 1</a>
                <a mat-list-item href="...">Channel 2</a>
            </div>
        </mat-nav-list>
    </mat-sidenav>

    <router-outlet></router-outlet>
</mat-sidenav-container>