<mat-toolbar>
    <mat-toolbar-row>
        <button *ngIf="!auth" mat-icon-button class="example-icon">
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <mat-icon class="tag-icon">tag</mat-icon>
        <span>Slack-Clone</span>
        <span class="example-spacer"></span>

        <button class="loggedUser-btn" mat-button *ngIf="!auth" [matMenuTriggerFor]="userOptions">
            <img class="userImg-small" src="{{ authService.userImg || 'assets/img/profile.png' }}">
            <span> {{ authService.userName || 'Guest' }} </span>
        </button>
        <mat-menu #userOptions="matMenu">
            <button mat-menu-item (click)="openDialogEditUser()">
                <mat-icon>manage_accounts</mat-icon> Edit User
            </button>
            <button mat-menu-item (click)="logOut()">
                <mat-icon>logout</mat-icon> Logout
            </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="example-container" autosize>
    <mat-sidenav #sidenav class="example-sidenav" [opened]="openSidenav" [mode]="mode" *ngIf="!auth">

        <!-- Channels Block -->
        <mat-nav-list>
            <mat-list-item class="parent color-white" (mouseenter)="isShowingAddBtn = true"
                (mouseleave)="isShowingAddBtn = false">
                <span class="full-width size-22" (click)="showSubmenu = !showSubmenu">Channels</span>
                <mat-icon mat-list-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}"
                    (click)="showSubmenu = !showSubmenu">
                    expand_more</mat-icon>
                <mat-icon *ngIf="isShowingAddBtn || isShowingAddBtn" class="addChannel-btn"
                    matTooltipClass="example-tooltip-gold" (click)="openDialogAddChannel()">add_circle</mat-icon>
            </mat-list-item>

            <div class="submenu" [ngClass]="{'expanded' : showSubmenu}">
                <a *ngFor="let channel of allChannels | name" mat-list-item
                    routerLink="channel/{{ channel.channelID }}"># {{
                    channel.name }}</a>
                <div class="add-channel-container">
                    <button mat-raised-button (click)="openDialogAddChannel()">
                        <mat-icon>add_circle</mat-icon>
                        <span>Add new Channel</span>
                    </button>
                </div>
            </div>
        </mat-nav-list>

        <!-- Direct Messages Block -->
        <mat-nav-list class="margin-top-28 margin-bottom-28">
            <mat-list-item class="parent color-white" (mouseenter)="isShowingDM = true"
                (mouseleave)="this.isShowingDM = false">
                <span class="full-width size-22" (click)="showDMmenu = !showDMmenu">Direct Messages</span>
                <mat-icon mat-list-icon class="menu-button" [ngClass]="{'rotated' : showDMmenu}"
                    (click)="showDMmenu = !showDMmenu">
                    expand_more</mat-icon>
                <mat-icon *ngIf="isExpandedDM || isShowingDM" class="addChannel-btn"
                    matTooltipClass="example-tooltip-gold" (click)="openDialogCreateChat()">add_circle</mat-icon>
            </mat-list-item>

            <div class="submenu" [ngClass]="{'expanded' : showDMmenu}">
                <a class="chat-link" *ngFor="let chat of allChats" mat-list-item routerLink="chat/{{ chat.id }}">
                    <span *ngIf="chat.firstUser == authService.userName">{{ chat.secondUser }}</span>
                    <span *ngIf="chat.secondUser == authService.userName">{{ chat.firstUser }}</span>
                        <mat-icon class="addChannel-btn" matTooltipClass="example-tooltip-gold"
                            (click)="deleteChat(chat.id)" title="Delete Chat">close</mat-icon>
                </a>

                <div class="add-channel-container">
                    <button mat-raised-button (click)="openDialogCreateChat()">
                        <mat-icon>add_circle</mat-icon>
                        <span>Write Direct Message</span>
                    </button>
                </div>
            </div>
        </mat-nav-list>
    </mat-sidenav>

    <div *ngIf="auth" class="footer-container">
        <app-footer></app-footer>
    </div>

    <router-outlet></router-outlet>
</mat-sidenav-container>