<div class="channel-container">
    <div class="left-container">
        <mat-card class="card-style header-card">
            <div class="name-header" (click)="openChannelDetails()">
                <h1> # {{ channel.name }}</h1>
                <mat-icon>keyboard_arrow_down</mat-icon>
            </div>

            <div class="search-box">
                <mat-form-field appearance="standard" class="search-box">
                    <input name="search" [(ngModel)]="shared.searchText" matInput autocomplete="off" placeholder="Search in # {{ channel.name }}">
                </mat-form-field>
            </div>

            <div>
                <button mat-button class="thread-menu member-length" mat-icon [matMenuTriggerFor]="deleteThreadBtn">
                    Members: {{ userLength }}
                </button>

                <mat-menu #deleteThreadBtn="matMenu">
                    <div class="member-box" *ngFor="let user of allUsers">
                        <div>
                            <img src="{{ user.photoURL }}">
                            <span>{{ user.displayName }}</span>
                        </div>
                    </div>
                </mat-menu>
            </div>
        </mat-card>

        <mat-card class="card-style thread-container">
            <app-thread-container (threadShow)="showDetails = true"></app-thread-container>
        </mat-card>
    </div>

    <div class="right-container" *ngIf="showDetails">
        <div class="card-style">
            <button mat-icon-button class="close-btn" (click)="closeDetails()">
                <mat-icon>close</mat-icon>
            </button>
            <app-thread-details></app-thread-details>
        </div>
    </div>

    <div class="position-fixed">
        <div class="card-style add-thread-box">
            <app-add-thread></app-add-thread>
        </div>
    </div>
</div>