<div class="channel-container">
    <div class="left-container">
        <mat-card class="card-style">
            <div class="name-header" (click)="openChannelDetails()">
                <h1> # {{ channel.name }}</h1>
                <mat-icon>keyboard_arrow_down</mat-icon>
            </div>
        </mat-card>

        <mat-card class="card-style thread-container">
            <app-thread-container (threadShow)="showDetails = true"></app-thread-container>
        </mat-card>
    </div>

    <div class="right-container" *ngIf="showDetails">
        <div class="card-style">
            <button mat-icon-button class="close-btn" (click)="closeDetails()">
                <mat-icon>close</mat-icon>
            </button>
            <app-thread-details></app-thread-details>
        </div>
    </div>

    <div class="position-fixed">
        <div class="card-style add-thread-box">
            <app-add-thread></app-add-thread>
        </div>
    </div>
</div>