<div class="channel-container">
    <mat-card class="card-style">
        <div class="name-header" (click)="openChannelDetails()">
            <h1> # {{ channel.name }}</h1>
            <mat-icon>keyboard_arrow_down</mat-icon>
        </div>
    </mat-card>

    <mat-card class="card-style thread-container">
        <app-thread-container></app-thread-container>
    </mat-card>

    <div class="position-fixed">
        <mat-card class="card-style add-thread-box">
            <app-add-thread></app-add-thread>
        </mat-card>
    </div>
</div>