.channel-container {
    position: relative;
    display: flex;
}

.left-container {
    width: 100vw;
}

.right-container {
    width: 70vw;
}

.card-style {
    margin: 16px;
    padding: 8px !important;

    .name-header {
        display: flex;
        align-items: center;
        margin-left: 16px;
        padding: 6px;
        width: fit-content;

        &:hover {
            background-color: rgba($color: #000000, $alpha: 0.04);
            border-radius: 10px;
            cursor: pointer;
        }

        h1 {
            font-weight: 600;
            margin-bottom: 0;
        }

        mat-icon {
            margin-left: 8px;
        }
    }
}

.position-fixed {
    position: fixed;
    bottom: 0;
    left: 0px;
    right: 0;
    display: flex;
    justify-content: center;
}

.add-thread-box {
width: 60vw;
margin-left: 2vw;
}

.thread-container {
    height: calc(100vh - 340px);
    overflow-y: auto;
}