.channel-container {
    position: relative;
    display: flex;
}

.left-container {
    width: 100vw;
}

.right-container {
    min-width: 37vw;
    max-width: 37vw;
    height: calc(100vh - 68px);
    background-color: white;
    border-left: 1px solid #ede5e5;

    @media (max-width: 1500px) {
        min-width: 45vw;
        max-width: 45vw;
    }

    @media (max-width: 1000px) {
        min-width: calc(100vw - 16px);
        max-width: 100%;
        height: calc(100vh - 74px);
        margin: 8px;
        position: absolute;
        right: 0;
        background: white;
        z-index: 1;
    }

    @media (max-width: 600px) {
        height: calc(100vh - 66px);
    }

    @media (max-width: 370px) {
        height: calc(100vh - 72px);
    }
}

.card-style {
    margin: 6px;
    padding: 4px !important;

    .name-header {
        display: flex;
        align-items: center;
        margin-left: 16px;
        padding: 6px;
        width: fit-content;

        &:hover {
            background-color: rgba($color: #000000, $alpha: 0.04);
            border-radius: 10px;
            cursor: pointer;
        }

        h1 {
            font-weight: 600;
            margin-bottom: 0;

            @media (max-width: 350px) {
                margin-left: -16px;
                margin-top: -8px;
                font-size: 18px;
            } 
        }

        mat-icon {
            margin-left: 8px;

            @media (max-width: 350px) {
                margin-top: -12px;
            } 
        }
    }
}

.position-fixed {
    position: fixed;
    bottom: 0;
    left: 0px;
    display: flex;
    justify-content: center;
}

.add-thread-box {
    margin-left: 20vw;

    @media (max-width: 1500px) {
        margin-left: 5vw;
    }

    @media (max-width: 1200px) {
        margin-left: 2vw;
    }

    @media (max-width: 500px) {
        justify-content: unset;
    }
}

.thread-container {
    height: calc(100vh - 320px);
    overflow-y: auto;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: #6F2F40;
}

.header-card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 750px) {
        justify-content: unset;
    }

    @media (max-width: 550px) {
        align-items: unset;
        flex-direction: column;
    }
}

.member-length {
    margin-bottom: 0;
    margin-right: 16px;

    @media (max-width: 750px) {
        position: absolute;
        right: 0;
        top: 6px;
    }

    @media (max-width: 350px) {
        top: 0px;
    }
}

.member-box {
    display: flex;
    flex-direction: column;

    div {
        display: flex;
        align-items: center;
        margin-left: 6px;
        margin-bottom: 6px;
        margin-right: 6px;
    }

    img {
        height: 24px;
        width: 24px;
        object-fit: cover;
        border-radius: 100%;
        margin-right: 4px;
    }
}

.search-box {
    height: 50px;
    margin-top: -10px;

    @media (max-width: 750px) {
        margin-left: 22px;
    }

    @media (max-width: 550px) {
        margin-left: 10px;
    }

    @media (max-width: 350px) {
        margin-left: 2px;
    }

    mat-form-field {
        width: 20vw;

        @media (max-width: 750px) {
            width: 170px;
        }

        input {
            padding-left: 8px;
        }
    }
}

::ng-deep .mat-focused .mat-form-field-label {
    color: #6F2F40 !important;
}

::ng-deep.mat-form-field-ripple {
    background-color: #6F2F40 !important;
}