<div class="editor-box">
    <angular-editor id="texteditor" [config]="editorConfig" placeholder="Message on # {{ channel.name }}..."
        [(ngModel)]="thread.message" (keypress)="onKeypressEvent($event)">
    </angular-editor>

    <div class="btn-box">
        <input [(ngModel)]="thread.uploadFile" class="ng-hide" id="input-file-id" multiple type="file" (change)="onFilechange($event)"/>
        <!-- <mat-icon (click)="uploadService.cancelUpload(file)">close</mat-icon> -->
        <label for="input-file-id" class="md-button md-raised md-primary">
            <mat-icon class="upload-btn">upload_file</mat-icon>
        </label>

        <button mat-fab (click)="sendThread()" class="example-button-container">
            <mat-icon>send</mat-icon>
        </button>
    </div>
</div>