.user-option {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    margin-top: 4px;

    img {
        width: 30px;
        height: 30px;
        border-radius: 100%;
        margin-right: 6px;
        object-fit: cover;
    }
}

.mat-form-field {
    @media (max-width: 320px) {
        width: 150px;
    }
}