<div class="details-container">
    <mat-icon class="close-btn" (click)="dialogRef.close()">close</mat-icon>

    <div class="details-header">
        <h1> <b> # {{ channel.name }} </b> </h1>

        <mat-icon matTooltip="Edit Channel-Info" (click)="openDialogEdit()">edit_note</mat-icon>
    </div>

    <mat-card>
        <mat-tab-group animationDuration="0ms">
            <mat-tab label="Description">
                <p> {{ channel.description }} </p>
            </mat-tab>
            <mat-tab label="Settings">
                <p>
                    <b>Posting authorizations:</b> <br> <br>
                    <mat-icon>check</mat-icon> Everyone can post <br> <br>
                    <mat-icon>check</mat-icon> Everyone can reply to messages <br> <br>
                    <mat-icon>check</mat-icon> Everyone except guests can use @all mentions
                </p>
            </mat-tab>
            <mat-tab label="Members">
                <p> This Channel has 12 members </p>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>