.login-card {
    width: max-content;
    margin-left: 35vw;
    margin-top: 15vh;
}

mat-form-field {
    width: 350px;
}

.mat-card-title {
    margin-bottom: 24px;
}

.text {
    margin-top: 28px;
    border-top: 1px solid #c3c0c0;
    padding-top: 6px;
}

.sign-in-btn {
    font-size: 12px;
}

.user-error {
    display: flex;
    align-items: center;
}