.register-container {
    height: calc(100vh - 68px);
    width: 100vw;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    width: max-content;
    height: max-content;
}

mat-form-field {
    width: 350px;

    @media (max-width: 400px) {
        width: 270px; 
    }

    @media (max-width: 320px) {
        width: 240px; 
    }
}

.mat-card-title {
    margin-bottom: 24px;
}

.text {
    margin-top: 28px;
    border-top: 1px solid #c3c0c0;
    padding-top: 6px;
}

.sign-in-btn {
    font-size: 12px;
}

.user-error {
    display: flex;
    align-items: center;
}