.header {
    display: flex;
    border-bottom: 1px solid #ede5e5;
    margin-bottom: 18px;

    h1 {
        font-weight: 600;
    }

    h2 {
        margin-left: 16px;
        margin-top: 2px;
        font-size: 14px;
        color: #949494;
    }
}

.thread-container {
    border-bottom: 1px solid #ede5e5; 
}

.details-user-data {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    p {
        &:last-child {
            margin-left: 12px;
            margin-top: 2px;
            font-size: 10px;
            color: #949494;
        }
    }
}