<div class="header">
    <h1>Thread</h1>
    <h2># {{ channel.name }}</h2>
</div>

<div *ngFor="let thread of currentThread" class="thread-container pd-24">
    <div class="details-user-data">
        <p>User</p>
        <p> {{ thread.sendDateTime | date: "dd.MM.yyyy"}} at {{ thread.sendDateTime | date: "HH:mm"}} </p>
    </div>
    <span class="message-box">{{ thread.message }}</span>
    <button class="comments-length-btn" (click)="showComments = !showComments" mat-button>
        {{ commentsLength }} {{ btnText }}
    </button>
</div>
<div *ngIf="showComments" class="comment-box">
    <div *ngFor="let thread of allComments" class="thread-container margin-left-28">
        <div class="details-user-data">
            <p>User</p>
            <p> {{ thread.commentDateTime | date: "dd.MM.yyyy"}} at {{ thread.commentDateTime | date: "HH:mm"}} </p>
        </div>
        <span>{{ thread.commentMessage }}</span>
    </div>
</div>

<app-add-thread-comment></app-add-thread-comment>