.header {
    display: flex;
    border-bottom: 1px solid #ede5e5;
    margin-bottom: 18px;

    h1 {
        font-weight: 600;
    }

    h2 {
        margin-left: 16px;
        margin-top: 2px;
        font-size: 14px;
        color: #949494;
    }
}

.thread-container {
    border-bottom: 1px solid #ede5e5; 
    margin-bottom: 8px;
    padding-bottom: 12px;
}

.details-user-data {
    display: flex;
    align-items: center;
    margin-top: 8px;

    p {
        &:last-child {
            margin-left: 12px;
            margin-top: 2px;
            font-size: 10px;
            color: #949494;
        }
    }
}

.margin-left-28 {
    margin-left: 28px;
}

.message-box {
    max-width: 100px;
    position: relative;
}

.pd-24 {
    padding-bottom: 24px;
}

.comments-length-btn {
    position: absolute;
    margin-top: 6px;
    right: 15vw;
    background: white;
}

.comment-box {
    max-height: 330px;
    overflow-y: auto;
    margin-left: 28px;
    max-width: 30vw;
    width: 30vw;

    span {
        overflow-wrap: break-word;
    }
}

.uploadImg {
    height: 120px;
    margin-bottom: 40px;  
    object-fit: cover;
}

.user-img {
    margin-right: 8px; 

    img {
        height: 50px;
        width: 50px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.comment-message-img {
    display: flex;
    flex-direction: column;
    margin-top: -4px;
}