.header {
    display: flex;
    border-bottom: 1px solid #ede5e5;
    margin-bottom: 18px;

    h1 {
        font-weight: 600;
    }

    h2 {
        margin-left: 16px;
        margin-top: 2px;
        font-size: 14px;
        color: #949494;
    }
}

.thread-container {
    border-bottom: 1px solid #ede5e5;
    margin-bottom: 8px;
    padding-bottom: 8px;
    position: relative;
}

.details-user-data {
    display: flex;
    align-items: center;
    margin-top: 8px;

    @media (max-width: 320px) {
        align-items: unset;
        margin-top: 0px;
        flex-direction: column;
    }

    p {
        &:last-child {
            margin-left: 12px;
            margin-top: 2px;
            font-size: 10px;
            color: #949494;

            @media (max-width: 320px) {
                margin-left: 0px;
                margin-top: -12px;
            }
        }
    }
}

.margin-left-28 {
    margin-left: 28px;

    @media (max-width: 400px) {
        margin-left: 8px;
    }
}

.message-box {
    position: relative;
}

.pd-24 {
    padding-bottom: 24px;
}

.comments-length-btn {
    position: absolute;
    margin-top: 6px;
    right: 15vw;
    background: white;

    @media (max-width: 1000px) {
        right: 35vw;
    }

    @media (max-width: 320px) {
        right: 25vw;
    }
}

.comment-box {
    height: 310px;
    overflow-y: auto;
    margin-left: 28px;
    margin-bottom: 12px;
    max-width: 33vw;
    width: 33vw;

    @media (max-width: 1500px) {
        max-width: 38vw;
        width: 38vw;
    }

    @media (max-width: 1000px) {
        max-width: 90vw;
        width: 90vw;
    }

    @media (max-width: 400px) {
        margin-left: 0;
    }

    span {
        overflow-wrap: break-word;
    }
}

.uploadImg {
    height: 60px;
    margin-bottom: 10px;
    margin-top: 10px;
    object-fit: cover;
}

.user-img {
    margin-right: 8px;

    img {
        height: 50px;
        width: 50px;
        object-fit: cover;
        border-radius: 100%;

        @media (max-width: 400px) {
            height: 30px;
            width: 30px;
        }
    }
}

.comment-message-img {
    display: flex;
    flex-direction: column;
    margin-top: -4px;
}

.delete-btn {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    mat-icon {
        margin-right: 0;
    }
}

.message-img {
    display: flex;
    flex-direction: column;
}