<div class="header">
    <h1>Thread</h1>
    <h2># {{ channel.name }}</h2>
</div>

<div *ngFor="let thread of currentThread" class="thread-container">
    <div class="details-user-data">
        <p>User</p>
        <p> {{ thread.sendDateTime | date: "dd.MM.yyyy"}} at {{ thread.sendDateTime | date: "HH:mm"}} </p>
    </div>
    <p>{{ thread.message }}</p>
</div>

<div class="comment-box" *ngFor="let thread of allComments" class="thread-container margin-left-28">
    <div class="details-user-data">
        <p>User</p>
        <p> {{ thread.commentDateTime | date: "dd.MM.yyyy"}} at {{ thread.commentDateTime | date: "HH:mm"}} </p>
    </div>
    <p>{{ thread.commentMessage }}</p>
</div>

<app-add-thread-comment></app-add-thread-comment>