/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.color-white {
    color: white !important;
}

.example-tooltip-gold {
    background-color: #ffc17d;
    color: #7d4646 !important;
    font-weight: 600;
}

.size-22 {
    font-size: 22px;
}

.margin-top-28 {
    margin-top: 28px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
