/* You can add global styles to this file, and also import other style files */
@import '../node_modules/font-awesome/scss/font-awesome.scss';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.color-white {
    color: white !important;
}

.example-tooltip-gold {
    background-color: #E08862;
    color: #7d4646 !important;
    font-weight: 600;
}

.size-22 {
    font-size: 22px;
}

.margin-top-28 {
    margin-top: 28px !important;
}

.margin-bottom-28 {
  margin-bottom: 28px;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.hide {
  visibility: hidden;
}

.visible {
  visibility: visible !important;
}

.width-100 {
  width: 100%;
}

.align-center {
  text-align: center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
  
  *::-webkit-scrollbar {
    display: block;
    width: 12px;
    height: 6px;
  }
  
  *::-webkit-scrollbar-button {
    display: none;
  }
  
  *::-webkit-scrollbar-track {
    background-color: #00000000;
  }
  
  *::-webkit-scrollbar-track-piece {
    background-color: #00000000;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.486);
    border: 1px solid #00000059;
    border-radius: 24px;
  }