.details-container {
    position: relative;

    .close-btn {
        position: absolute;
        top: -38px;
        right: -16px;
        cursor: pointer;
        color: #6F2F40;
    }
}

.mat-tab-group {
    margin-bottom: 48px;
    height: 250px;

    p {
        margin-top: 16px;

        mat-icon {
            margin-bottom: -6px;
        }
    }
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
    background-color: #6F2F40 !important;
}

.details-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    margin-top: 20px;

    mat-icon {
        font-size: 32px;
        width: 32px;
        height: 32px;

        &:hover {
            cursor: pointer;
            background-color: rgba($color: #000000, $alpha: 0.04);
            border-radius: 10px;
        }
    }
}

.delete-btn {
    display: flex;
    justify-content: space-around;
    margin-top: 38px;
}