<div class="details-container">
    <mat-icon class="close-btn" (click)="dialogRef.close()">close</mat-icon>

    <div class="details-header">
        <h1> <b> # {{ channel.name }} </b> </h1>
    </div>

    <mat-card>
        <mat-tab-group animationDuration="0ms">
            <mat-tab label="Description">
                <p> {{ channel.description }} </p>
            </mat-tab>
            <mat-tab label="Settings">
                <p class="options">
                    <b>Posting authorizations:</b> <br> 
                    <mat-icon>check</mat-icon> Everyone can post <br>
                    <mat-icon>check</mat-icon> Everyone can reply to threads <br> <br>
                    <mat-icon>draw</mat-icon> Channel created by: <b> @{{ channel.creator }} </b>
                </p>   

                <div class="delete-btn">
                    <button  mat-raised-button (click)="openDialogEdit()">Edit Channel</button>
                    <button color="warn" mat-raised-button (click)="deleteChannel()">Delete Channel</button>
                </div>

                <div class="delete-btn-mobil">
                    <button  mat-icon-button (click)="openDialogEdit()"><mat-icon>edit</mat-icon></button>
                    <button color="warn" mat-icon-button (click)="deleteChannel()"><mat-icon>delete</mat-icon></button>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>